:root {
  --bg: #000000;
  --bg-card: #0e1218;
  --text: #f1f1f1;
  --img-profile: #8257e5;
  --buttons: #fff;
  --border-button: #1a1a1a;
}

img {
  width: 100%;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

/* #card :is(#logo-top, #logo-bottom, #dados, #img) {
  position: absolute;
} */

#card #logo-top,
#card #logo-bottom,
#card #dados,
#card #img {
  position: absolute;
}

/* Body ################### */

body {
  background-color: var(--bg-card);
  color: var(--text);

  width: 98vw;
  height: 110vh;
  position: relative;

  overflow-x: hidden;

  display: flex;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  margin: 0 auto;
}

body main {
  width: 813px;
  height: 693px;

  margin: auto auto;

  display: grid;
  grid-template-columns: [card] 1fr [button] 1fr;
  gap: 0.625rem;
}

/* Main -------------- */

/* Card */

#bg-card {
  grid-column: card;
  border: 0.0625rem solid var(--bg);
  border-radius: 3.125rem;

  background-color: #000;
  padding: 0.9375rem 1.4375rem 0.9375rem 1.4375rem;
}

#card {
  height: 43.3125rem;

  background-color: var(--bg-card);
  border-radius: 3.125rem;

  position: relative;
}

#logo-top {
  top: 1.5625rem;
  left: 1.875rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#logo-top img {
  max-width: 2.5rem;

  margin-right: 0.625rem;
  padding: 0.5rem;

  border: 0.0625rem solid #fff;
  border-radius: 1.25rem;
}

#logo-bottom {
  bottom: 1.25rem;
  right: 1.25rem;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#logo-bottom img {
  max-width: 1.75rem;
  margin-right: 0.625rem;
}

#img {
  max-width: 20.6875rem;
  overflow: hidden;

  right: 0px;
  top: 120px;
}

#profile {
  width: 120%;

  border: 0.625rem solid var(--img-profile);
  border-radius: 200px;
}

.info img {
  max-width: 1.299375rem;
}

#dados {
  background-color: rgba(70, 69, 69, 0.72);
  padding: 0.625rem 0 0.625rem 0.625rem;
  border-radius: 2.3125rem;

  left: 0.625rem;
  top: 21.875rem;

  width: 12.5rem;
}

#dados p {
  font-size: 1rem;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Botton */

#button {
  height: 693px;
  grid-column: button;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#button h1 {
  font-weight: normal;
}

#button button {
  background-color: #000;
  border-radius: 15px;
  border: none;
  cursor: pointer;

  margin-top: 33px;
  padding: 19px 47px;

  color: var(--buttons);
}

#button button:active {
  transform: translateY(4px);
}

#dados.new {
  display: none;
}

@media (max-width: 650px) {
  body main {
    grid-template-columns: 85%;
    grid-template-areas:
      'card '
      'button ';

    gap: 0.625rem;
    justify-content: center;
  }
}

@media (max-width: 320px) {
  #logo-top,
  #logo-bottom {
    left: 0;
    right: 0;

    text-align: center;

    flex-direction: column;
    gap: 10px;
  }

  #logo-top img {
    margin-right: 0;
  }

  #img {
    top: 160px;
  }
  body main p {
    font-size: 13px;
  }

  #dados {
    width: 12rem;
  }

  #dados {
    display: none;
  }

  #dados.new {
    display: block;
    width: 6rem;

    top: 21rem;
    left: 0;
    right: 0;
    margin: auto;

    padding: 10px 0;
  }

  #dados div {
    margin-bottom: 0.625rem;
  }

  #dados .info {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  #button {
    text-align: center;
  }

  #button button {
    padding: 19px 30px;
  }
}

@media (max-width: 220px) {
  body {
    width: 90vw;
  }

  #dados.new {
    top: 20rem;
  }
  body main #dados p {
    font-size: 13px;
  }

  #button h1 {
    font-size: 1.25rem;
  }

  #button button {
    font-size: 0.875rem;
  }

  #button button {
    padding: 1.1875rem 0.625rem;
  }
}

@media (max-width: 10.3125rem) {
  body {
    overflow: visible;
  }
  #bg-card {
    width: 10.3125rem;
  }
}
